<!DOCTYPE html><!--


                               .-""-.
                              (___/\ \
            ,                 (|^ ^ ) )
           /(                _)_\=_/  (
     ,..__/ `\          ____(_/_ ` \   )
      `\    _/        _/---._/(_)_  `\ (
    jgs '--\ `-.__..-'    /.    (_), |  )
            `._        ___\_____.'_| |__/
               `~----"`   `-.........'
-->
<html id="top">
{% include head.html %}
<body>

    {% include header.html %}
    {{ content }}
    {% include footer.html %}

    {% include analytics.html %}

</body>
</html>
